/* =====================
          GLOBALES
   ===================== */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    scroll-behavior: smooth;
  }
  
  /* =====================
            HEADER
     ===================== */
  
  .header-none {
    display: none;
    height: 0;
  }
  
  .header-scrolled {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    position: sticky;
    top: 0;
    padding: 0 50px;
    align-items: center;
    z-index: 3;
  }
  
  .header {
    z-index: 3;
    justify-content: space-between;
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-color: #ffff;
    position: sticky;
    top: 0;
    gap: 33px;
  }
  
  .header img {
    width: 100%;
  }
  
  .header .nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 33px;
  }
  
  .header .nav .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 33px;
  }
  
  .header .nav .nav-links .nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
  
  .header .nav .nav-links .nav-item a :hover {
    text-decoration: none;
    opacity: 0.5;
  }
  
  .header .nav .nav-links .nav-item a :focus-within {
    font-weight: 700;
  }
  
  .header .translate a {
    color: black;
    text-decoration: none;
  }
  
  .header .translate :hover {
    opacity: 0.5;
  }
  
  .header .translate :focus-within {
    font-weight: 700;
  }
  
  .search button {
    border: 0;
    background: none;
  }
  
  .search button span {
    display: block;
    height: 100%;
  }
  
  /* =====================
            SIDEBAR
     ===================== */
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .sidebar-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 110px;
  }
  
  .sidebar-heading a {
    width: auto;
    width: 50%;
  }
  
  .sidebar-heading a img {
    width: 100%;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 0 110px;
  }
  
  .search-translate {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
  }
  
  .search-translate .translate {
    display: flex;
    font-size: 24px;
    color: white;
    gap: 10px;
  }
  
  .search-translate .translate a {
    font-size: 24px;
    padding: 0;
  }
  
  .search-translate .translate :hover {
    opacity: 0.5;
  }
  
  .search-translate .translate :focus-within {
    font-weight: 700;
  }
  
  .search-translate .search button {
    border: 0;
    background: none;
  }
  
  .search-translate .search button span {
    font-size: 24px;
    color: white;
    display: block;
    height: 100%;
  }
  
  .newsletter-suscribe {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 110px;
  }
  
  .newsletter-suscribe .newsletter-suscribe-button {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 11px 29px;
    background: #77d7db;
    flex: 1;
  }
  
  .newsletter-suscribe .social-icon {
    padding: 0;
  }
  
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
    align-items: center;
  }
  
  .contact .email {
    color: white;
    font-weight: 700;
  }
  
  .contact .social {
    display: flex;
    gap: 20px;
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .closebtn {
    text-align: end;
    top: 0;
    right: 25px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 60px;
    max-width: 140px;
    max-height: 60px;
    width: 100%;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  button {
    background-color: transparent;
    border: 0;
  }
  
  /* =====================
       MAIN TEXT SECTION
     ===================== */
  
  #principalText {
    display: flex;
    flex-direction: column;
  }
  
  #principalText h1 {
    display: flex;
    flex-basis: 0;
    justify-content: center;
    align-content: center;
  
    margin-top: 100px;
    font-weight: 700;
    font-size: 14vw;
    line-height: 279px;
  }
  
  #principalText h2 {
    margin: 51px 93px 107px 96px;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
  }
  
  mark {
    background-color: #77d7db;
    width: 463px;
    height: 76px;
  }
  
  .outlined {
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  
  .outlined1 {
    background-image: url("./assets/Lines/Line1.svg");
  }
  
  .outlined2 {
    background-image: url("./assets/Lines/Line2.svg");
  }
  
  /* =====================
       MARQUEE SECTION
     ===================== */
  
  .marquee {
    position: relative;
    z-index: -1;
    margin-top: 22px;
    --gap: 91px;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
  .marqueeContent {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
  }
  
  .marqueeContent li {
    height: 300px;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 132px;
    line-height: 180px;
  }
  
  .marqueeContent li img {
    display: flex;
    align-items: center;
    height: 300px;
    width: 450px;
    object-fit: cover;
    overflow: hidden;
  }
  
  ul {
    list-style: none;
  }
  
  .scroll {
    animation: scroll 10s linear infinite;
  }
  
  .scroll_reverse {
    animation: scroll reverse 10s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
  /* =====================
    ADAPTATIVE TEXT SECTION
     ===================== */
  
  .adaptativeText {
    display: flex;
    align-items: center;
    background-color: #ff5e43;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    padding: 121px;
    width: 100%;
  }
  
  /* =====================
  INFORMATION PANELS SECTION
     ===================== */
  
  .information-panels {
    display: flex;
    height: 200vh;
    flex-direction: column;
  }
  
  .info1 {
    flex: 1;
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: space-between;
    position: relative;
    background-color: #77d7db;
  }
  
  .info1_panel {
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 96px;
  }
  
  .info1_panel h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.2em;
  }
  
  .info1_panel p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  
  .info1_img {
    display: flex;
    flex: 50%;
    width: 100%;
    object-fit: cover;
    margin-right: auto;
    justify-content: flex-end;
    overflow: hidden;
    background-size: cover;
    background-image: url("./assets/InformationPanels/OurFocus.svg");
  }
  
  .info2 {
    flex: 1;
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: flex-start;
    background-color: #1da1f2;
    position: relative;
  }
  
  .info2_img {
    display: flex;
    flex-basis: 50%;
  
    width: 100%;
    object-fit: cover;
    margin-right: auto;
    justify-content: flex-end;
    overflow: hidden;
    background-image: url("./assets/InformationPanels/WorkTeam.svg");
    background-size: cover;
  }
  
  .info2_panel {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 96px;
  }
  
  .info2_panel h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.2em;
  }
  
  .info2_panel img {
    height: 38px;
    margin-top: 53px;
    color: white;
  }
  
  .info2_panel h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 32px;
    margin-top: 35px;
  }
  
  .info2_panel h3 {
    color: white;
    margin-top: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
  }
  
  .info2_panel h5 {
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 32px;
  }
  
  .info2_panel p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  
  .info2_panel p span {
    color: white;
  }
  
  .info2_panel .slider_main {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .info2_panel:nth-child(2) {
    margin-left: auto;
  }
  
  .svgArrow {
    height: 27px;
  }
  
  .slider_main {
    width: 100%;
    overflow: hidden;
  }
  
  .info_arrow {
    margin-top: auto;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  
  .info_arrow_circle button {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    transition: 0.2s ease;
  }
  
  .info_arrow_circle button:hover {
    background-color: white;
  }
  
  .info_arrow_circle button svg {
    transition: 0.2s ease;
  }
  
  .info_arrow_circle:hover button svg {
    height: 30% !important;
  }
  
  .slider {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    transition: 1s ease;
  }
  
  .slider_sub {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .slider_sub_2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  
  .rotate180 {
    transform: rotate(180deg);
  }
  
  /* ======================
      REPOSITORIES SECTION
     ====================== */
  
  .repository {
    height: 973px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
  
  .repository_title {
    display: flex;
    margin-bottom: 69px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .repository_title h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 32px;
  }
  
  .repository_title h3 {
    width: 206px;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  
  .repository_elem {
    display: flex;
    height: 108px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow_circle {
    display: flex;
    position: relative;
    order: 3;
    align-items: center !important;
    justify-content: center !important;
    background-color: #ffffff;
    height: 58px !important;
    width: 58px !important;
    padding: 3px;
    border-radius: 50%;
    transition: 0.2s ease;
  }
  
  .arrow_circle:hover {
    background-color: #030303;
  }
  
  .arrow_circle button svg {
    transition: 0.2s ease;
  }
  
  .arrow_circle:hover button svg {
    color: #ffffff;
    width: 70%;
  }
  
  .arrow_circle:hover + .image_container img {
    opacity: 100%;
  }
  
  .image_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-left: auto;
    margin-right: 91px;
  }
  
  .image_container img {
    position: absolute;
    transition: 0.2s ease;
    opacity: 0;
  }
  
  .repository_elem h2 {
    margin-left: 0;
    font-weight: 600;
    font-size: 42px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* ======================
          NEWS SECTION
     ====================== */
  
  .news-section-title {
    font-weight: 700;
    font-size: 132px;
    line-height: 180px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .cards_wrapper {
    width: 100%;
  }
  
  .cards {
    display: flex;
    z-index: -1;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .card {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 25%;
    height: 478px;
    overflow: hidden;
    transition: 1s ease;
  }
  
  .card_background {
    position: absolute;
    z-index: -1;
    background-color: #77d7db;
    height: 100%;
    width: 100%;
  }
  
  .card img {
    position: relative;
    width: 100%;
  
    transform: translateY(-20%);
    transition: 1s ease;
  }
  
  .card:hover img {
    transform: translateY(59.5%);
  }
  
  .card:hover .text_title {
    opacity: 0%;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    padding: 42px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }
  
  .text h3 {
    font-weight: 600;
    font-size: 56px;
    line-height: 32px;
  }
  
  .text_title {
    align-items: center;
    display: flex;
    transition: 0.2s ease;
  }
  
  .text_title h3 {
    margin-left: auto;
  }
  
  .text_body {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: auto;
  }
  
  .news-title {
    width: 40%;
  }
  
  /* ======================
             FOOTER
     ====================== */
  
  footer {
    display: flex;
    background-color: black;
    height: 478px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
  }
  
  .footer_icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .footer_info {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
  }
  
  .footer_icon_wrapper {
    width: 100%;
    display: flex;
    margin-left: 137px;
    margin-top: 86px;
    flex-direction: column;
  }
  
  .footer_icon_wrapper h1 {
    margin-top: 87px;
    margin-bottom: 29px;
    text-align: left;
  }
  
  .footer_icon_bottom {
    width: 100%;
    margin-top: auto;
  }
  
  .footer_icon_bottom h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    row-gap: 57px;
  }
  
  .mobile_footer_links {
    display: none;
  }
  
  .footer_icon_bottom_segment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer_icon_bottom_segment div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer_links {
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: center;
  }
  
  .footer_links_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 86px;
    padding-left: 140px;
    justify-content: center;
  }

  .footer_links_body a {
    text-decoration: none;
    color: inherit;
  }
  
  .footer_rights {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    padding: 39px 63px 20px 63px;
    height: 40px;
    color: #666666;
  }
  
  .footer_rights h3:nth-child(2) {
    text-transform: capitalize;
    margin-left: auto;
  }
  
  #social-subscribe-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    height: 60px;
    width: 50%;
    background-color: #77d7db;
    margin-right: 5%;
  }
  
  #social-subscribe-footer button {
    font-style: normal;
    margin-left: 0 !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
  }
  
  /* ======================
         MEDIA QUERIES
     ====================== */
  
  @media screen and (max-width: 1440px) {
    #principalText h1 {
      margin: 0;
    }
  
    .info1 {
      display: flex;
      height: 1000px;
      flex-direction: column;
    }
  
    .info1_panel {
      flex: unset;
      height: 445px;
      padding: 30px;
    }
  
    .info1_panel h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 32px;
    }
  
    .info1_panel p {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
    }
  
    .info1_img {
      height: 100%;
      width: 100%;
    }
  
    .info2 {
      display: flex;
      flex-direction: column-reverse;
      height: 1000px;
    }
  
    .info2_panel {
      width: 100%;
      padding: 30px;
    }
  
    .info2_panel h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 32px;
    }
  
    .info2_panel h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
    }
  
    .info2_panel h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 32px;
    }
  
    .info2_img {
      height: 100%;
      width: 100%;
    }
  
    .info2_panel img {
      height: 30px;
    }
  }
  
  @media (min-width: 1024px) {
    .contact {
      width: auto;
    }
  
    .contact .email {
      display: none;
    }
  
    .header button.openbtn {
      display: none;
    }
  }
  
  @media (max-width: 1024px) {
    .newsletter-suscribe .newsletter-suscribe-button {
      font-size: 14px;
      width: 100%;
    }
  
    .newsletter-suscribe {
      flex-direction: column;
    }
  
    .header .nav {
      display: none;
      gap: 25px;
    }
  }
  
  @media screen and (max-width: 768px) {
    #principalText {
      display: flex;
      width: 100%;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
  
    #principalText h1 {
      font-weight: 700;
      font-size: 55px !important;
      line-height: 75px;
    }
  
    #principalText h2 {
      width: 100%;
      height: 100%;
      margin: 0px !important;
      padding: 24px;
      font-weight: 700;
      font-size: 25px;
      line-height: 32px;
    }
  
    .marquee {
      height: 95px;
      margin: 0;
    }
  
    .marqueeContent li {
      font-weight: 700;
      font-size: 50px;
      line-height: 57px;
    }
  
    .marqueeContent li img {
      width: 141px;
      height: 95px;
    }
  
    .adaptativeText {
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      margin: 0 !important;
      padding: 36px;
    }
  
    .slider_sub p {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
  
    .repository {
      height: fit-content;
      display: flex;
      gap: 0px;
      justify-content: flex-start;
      padding: 30px;
    }
  
    .repository_title {
      margin: 0;
      margin-bottom: 51px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .repository_title h1 {
      font-weight: 700;
      font-size: 42px;
      line-height: 32px;
    }
  
    .repository_title h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 20px;
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  
    .arrow_circle {
      flex-shrink: 0;
    }
  
    .repository_elem {
      height: 83px;
      width: 100%;
    }
  
    .repository_elem h2 {
      font-weight: 600;
      font-size: 23px;
      line-height: 32px;
    }
  
    .news-section-title {
      display: flex;
      font-weight: 700;
      font-size: 42px;
      line-height: 32px;
    }
  
    .text_title h2 {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
    }
  
    .text_title h3 {
      font-weight: 600;
      font-size: 32px;
      line-height: 32px;
    }
  
    .text_body {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
    }
  
    .cards {
      justify-content: space-between;
    }
  
    .card {
      width: 50%;
    }
  
    footer {
      height: unset;
    }
  
    .footer_info {
      height: fit-content;
    }
  
    .footer_icon_wrapper {
      margin: 0;
      gap: 48px;
      padding: 29px;
      display: flex;
    }
  
    .news-title {
      width: 100%;
    }
  
    .footer_icon {
      flex-direction: column;
    }
  
    .footer_links_body {
      padding: 0;
    }
  
    .footer_icon_wrapper h1 {
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-align: left;
    }
  
    .footer_icon_wrapper svg {
      width: 150px;
      height: 23px;
    }
  
    .footer_icon_bottom {
      justify-content: center;
    }
  
    .footer_icon_bottom_segment h2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 40px;
      margin: 10px;
    }
  
    .footer_icon_bottom_segment div svg {
      width: 28px;
    }
  
    .footer_links {
      display: none;
      flex-wrap: wrap;
    }
  
    .mobile_footer_links {
      display: flex;
    }
  
    .footer_links_body {
      flex-wrap: wrap;
      height: 168px;
      display: flex;
      justify-content: flex-start;
    }
  
    .footer_rights {
      height: 100%;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
    }
  
    .footer_rights h3 {
      margin-left: 0 !important;
      font-weight: 700;
      font-size: 14px;
      margin: 0;
      line-height: 40px;
    }
  
    #social-subscribe-footer {
      width: 100%;
      margin: 0;
    }

    .sidebar-nav, .sidebar-heading, .search-translate, .newsletter-suscribe {
      padding: 10%;
    }
    
    .image_container img {
      width: 150px;
    }
  }
  
  @media screen and (max-width: 375px) {
    #principalText h1 {
      font-size: 40px !important;
    }

    .footer_icon_bottom_segment h2 {
      font-size: 12px;
    }
  }